.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 16.2%;
  margin-top: 4%; 
  width: 82.9%;
  transition: margin-left 0.3s ease;
  border: 1px solid rgb(193, 193, 193);
}
.main-container.with-sidebar {
  margin-left: 16.2%;
}

.main-container.without-sidebar {
  margin-left: 2.7%;
  width: calc(100% - 3%);
  max-width: 100%;
}
.img{
  width: 25px;
}

.main-header {
  position: relative;
  background-color: #f7f5f5;
  color: #044BFF;
  padding: 7px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.close-btn {
  position: absolute;
  top: 2px; 
  right: 5px; 
  width: 20px; 
  height: 20px; 
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card-title{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
.vigencia{
  text-align: center;
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: rgb(156, 156, 156);
  margin-top: 5px;
}
.description{
  margin-top: 20px;
  width: 90%;
}
.descripcion, .Lineasdeprofundizacion{
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.descipcionparrafo{
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.contenedortable{
  width: 95%;
  height: 130px;
  max-height: 220px;
  overflow: auto;
  padding: 10px;
}
.table th, .table td{
  font-size: 10px;  
  padding: 5px;     
}
.referencia{
  text-align: center;
  font-size: 13px;
}
.numero{
  width: 40px;
  text-align: center;
  background-color:#2D65F5;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
.number1{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.resolucion, a{
  text-decoration: none;
  text-align: center;
  width: 150px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.table-bordered{
  width: 92%;
  align-items: center;
  margin-left: 4%;
}
.botonesfinales {
    margin-top: 75px;
    display: flex;
    justify-content: center; 
    gap: 10px; 
    align-items: end; 
    padding: 10px;
}

.botonesfinales button {
  width: 100px; 
  height: 30px;
  font-size: 11px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 5px; 
}
