<div class="main-container" [ngClass]="{'with-sidebar': !isSidebarReduced, 'without-sidebar': isSidebarReduced}">
    <header class="main-header">
        <img src="" class="img" alt="">Convocatoria  
            <button class="btn btn-danger close-btn" (click)="Salir()">X</button>
      </header>
      <div *ngIf="convocatoria" class="container">
        <h5 class="card-title">{{ convocatoria.titulo }}</h5>
        <h5 class="vigencia"><span style="font-weight: bold;">Desde:</span>  {{ formatearFecha(convocatoria.fechaInicio) }}  - <span style="font-weight: bold;">Hasta:</span> {{ formatearFecha(convocatoria.fechaFin) }}</h5>
        <div class="duracion-restante">
          <span>
            🕒 Días restantes: {{ calcularDiasRestantes(convocatoria.fechaFin) }}
          </span>
        </div>
        <div class="container description">
          <h5 class="descripcion">Descripción</h5> 
          <p class="descipcionparrafo">{{ convocatoria.descripcion }}</p>
             <h5 class="Lineasdeprofundizacion">Lineas de Profundización</h5>
            <div class="container contenedortable">
              <table class="table  ">
                <tbody>
                  <tr *ngFor="let linea of convocatoria.nombreLineas; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ linea }}</td>
                  </tr>
                  <tr *ngIf="!convocatoria.nombreLineas?.length">
                    <td colspan="2" class="text-muted">Sin líneas asignadas</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 class="referencia">Documento de referencia</h5>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th class="numero" scope="row">N°</th>
                  <td class="number1">{{ convocatoria.numeroResolucion }}</td>
                  <td class="resolucion"><a [href]="convocatoria.resolucion" target="_blank">Ver Resolución</a></td>
                </tr>
              </tbody>
            </table>
            <div class="botonesfinales">
              <button type="button" class="btn btn-success" [routerLink]="['/ver-convocatorias']" routerLinkActive="router-link-active" >Volver</button>
              <button type="button" class="btn btn-primary" [routerLink]="['/inscripcion-grupo']" routerLinkActive="router-link-active" >Inscribir Grupo</button>
            </div>
        </div>
     
      </div>

</div>  