<div class="main-container" [ngClass]="{'with-sidebar': !isSidebarReduced, 'without-sidebar': isSidebarReduced}">
  <div class="principal-wrapper">
    <header class="hero">
      <div class="hero-content">
        <h1>Bienvenido a extensión y Proyección Social
        </h1>
        <p class="tagline">Conecta ideas, proyectos y oportunidades en un solo lugar 🚀</p>
      </div>
    </header>
    <section class="info-section">
      <h2>¿Qué deseas hacer hoy?</h2>
      <div class="cards">
        <div class="info-card" routerLink="/ver-convocatorias">
          <i class="fas fa-search"></i>
          <h3>Explorar Convocatorias</h3>
          <p>Consulta las convocatorias activas y finalizadas.</p>
        </div>
        <div class="info-card" routerLink="/inscripcion-grupo">
          <i class="fas fa-users"></i>
          <h3>Inscribir Grupo</h3>
          <p>Forma parte de proyectos que aporten a la región.</p>
        </div>
        <div class="info-card" routerLink="/crear-convocatoria">
          <i class="fas fa-plus-circle"></i>
          <h3>Crear Convocatoria</h3>
          <p>Lanza una nueva convocatoria para integrar comunidad y academia.</p>
        </div>
      </div>
    </section>    
  </div>
</div>