.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 16.2%;
  margin-top: 4%;
  width: 83.5%;
  transition: margin-left 0.3s ease;
  border: 1px solid rgb(193, 193, 193);
  z-index: 1; 
}

.main-container.with-sidebar {
  margin-left: 16.2%;
}

.main-container.without-sidebar {
  margin-left: 2.7%;
  width: calc(100% - 3%);
  max-width: 100%;
}

.main-header {
  background-color: #f7f5f5;
  color: #044BFF;  
  padding: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.custom-size {
  width: 50px; 
  height: 50px;
  font-size: 20px; 
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  height: 82vh;
  overflow: auto;
}
.principal-wrapper {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #519fed;
  color: white;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1rem;
  margin-bottom: 20px;
}

.botones-hero button {
  margin-right: 15px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #378add;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botones-hero button:hover {
  background-color: #bbdefb;
}

.hero-image {
  max-width: 320px;
  max-height: 300px;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.info-section {
  text-align: center;
  padding: 40px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.info-card:hover {
  transform: translateY(-5px);
}

.info-card i {
  font-size: 2rem;
  color: #1976d2;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #e3f2fd;
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .main-container {
    top: 23px;
    left: -78px;
    width: 93%;
  }

  .main-header {
    font-size: 12px;
  }

  .main-content {
    font-size: 12px;
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 690px) {
  .main-container {
    top: 30px;
    left: -50px;
    width: 93%;
  }
}

@media screen and (max-width: 375px) {
  .main-container {
    top: 36px;
    left: -25px;
  }

  .main-header {
    font-size: 12px;
  }
}
