<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="barratitulo">
  <h3>
    <img src="https://png.pngtree.com/png-vector/20190420/ourmid/pngtree-information-vector-icon-png-image_963445.jpg" alt="Icono de información">
    Extensión y Proyección Social
  </h3>
</div>

<div class="barraRecargarpagina">
  <h3>
    <img src="https://static.vecteezy.com/system/resources/previews/017/339/159/non_2x/reload-icon-3d-free-png.png" alt="Icono de recarga">
    <span class="recargarTexto" (click)="reloadPage()">Recargar Página</span>
  </h3>
</div>

<div class="barraReducida" *ngIf="!isSidebarVisible" (click)="toggleSidebar($event)">
  <h3>Proyectos de Extensión<i class="fa-solid fa-chevron-down icono"></i></h3>
</div>
<div class="sidebar-overlay" *ngIf="isMobile && isSidebarVisible" (click)="toggleSidebar()"></div>
<div class="sidebar" *ngIf="isSidebarVisible" [ngClass]="{'sidebar-visible': isSidebarVisible, 'sidebar-reduced': isSidebarReduced}">
  <h2 class="encabezado-panel">
    <i class="fa-regular fa-user"></i>
    Panel de Información 
    <i class="fa-solid fa-chevron-up" (click)="toggleSidebar($event)"></i>
  </h2>
  <div class="informacion-personal-card" *ngIf="nombreUsuario">
    <h3>Información Personal</h3>

    <div class="foto-usuario">
      <img src="assets/Imagenes/foto.jpeg" alt="Foto del Usuario" />
    </div>
  
  
    <div class="info-item">
      <span class="info-label">Nombre:</span>
      <span class="info-value">{{ nombreUsuario }}</span>
    </div>
  
    <div class="info-item">
      <span class="info-label">Teléfono:</span>
      <span class="info-value">{{ usuarioTelefono }}</span>
    </div>
  
    <div class="info-item">
      <span class="info-label">Documento:</span>
      <span class="info-value">{{ usuarioDocumento }}</span>
    </div>
  </div>

    <h1><i class="fa-solid fa-bars"></i> Menú Principal </h1>
    
  <div class="btn-group-vertical menu" role="group" aria-label="Vertical button group">
    <!-- Botón estilo acordeón -->
    <button class="acordeon-button" (click)="toggleAccordion('convocatorias')">
      Convocatorias
      <span class="flecha" [class.abierta]="isConvocatoriasOpen">▼</span>
    </button>
    <div *ngIf="isConvocatoriasOpen" class="acordeon-contenido">
      <a routerLink="/crear-convocatoria">Crear Convocatoria</a>
      <a routerLink="/ver-convocatorias">Ver Convocatorias</a>
    </div>

    <button class="acordeon-button" (click)="toggleAccordion('grupos')">
      Grupos
      <span class="flecha" [class.abierta]="isGrupoOpen">▼</span>
    </button>
    <div *ngIf="isGrupoOpen" class="acordeon-contenido">
      <a routerLink="/inscripcion-grupo">Inscribir Grupo</a>
      <a routerLink="/VerGrupo">Ver Grupos</a>
    </div>

    <button class="acordeon-button" (click)="toggleAccordion('proyectos')">
      Proyectos
      <span class="flecha" [class.abierta]="isProyectosOpen">▼</span>
    </button>
    <div *ngIf="isProyectosOpen" class="acordeon-contenido">
      <a routerLink="/inscripciones-grupos">Inscripciones Grupos</a>
      <a routerLink="/gestionar-proyecto">Gestionar Proyecto</a>
    </div>
    <button class="boton-simple" routerLink="/IndicadoresCobertura">
      Indicadores de Cobertura
    </button>
    
    <button class="boton-simple" routerLink="/">
      Reportes
    </button>
    <button class="boton-simple" routerLink="/Configuracion">
      Configuracion
    </button>
  </div>
  <div id="informacionUniversidad">
    <span>©  {{ currentYear }} <a href="https://www.uniamazonia.edu.co/inicgit initio/index.php/es/">Universidad de la Amazonia</a> - Todos los derechos reservados.</span>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
