* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  color: var(--white);
  background-color: var(--primary);
  height: 100vh;
  overflow: hidden; 
}

.barratitulo {
  background-color: #DAF0FF;
  width: 100%;
  height: 24px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
}

.barratitulo h3 {
  font-size: 11px;
  color: #052ee4;
  font-weight: 500;
  display: flex;
  position: relative;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.barratitulo h3 img {
  margin-right: 10px;
  margin-left: 7px;
  width: 15px;
  height: 15px;
}

.barraRecargarpagina {
  background-color: #DAF0FF;
  width: 100vw;
  height: 24px;
  position: fixed;
  top: 24px;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 0;
  padding: 0;
  z-index: 9;
}

.barraRecargarpagina h3 {
  font-size: 10px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.barraRecargarpagina h3 img {
  margin-right: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.recargarTexto {
  cursor: pointer;
}

.sidebar {
  width: 16%;
  min-width: 150px;
  max-width: 250px;
  height: 100vh;
  overflow: auto;
  background-color: white;
  color: black;
  position: fixed;
  top: 48px;
  left: 0;
  padding: 20px;
  border-right: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(185, 185, 185);
  z-index: 5;
  transition: transform 0.3s ease, width 0.3s ease;
  border-bottom: 1px solid var(--gray);
  display: block;
  
}

.sidebar-reduced.sidebar-visible {
  transform: translateX(0);
}

.sidebar h2 {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  background-color: #428BCA;
  position: fixed;
  width: 16%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  left: 0;
  top: 48px;
  font-family: Arial, sans-serif;
}

.InformacionPersonal {
  display: flex;
  position: relative;
  width:100%;
  max-width: 200px;
  height: 26%;
  top: 30px;
  border: 1px solid rgb(185, 185, 185);
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.bordeTexto {
  font-size: 14px;
  color: #575757;
  position: absolute;
  top: 0%;
  left: 28%;
  transform: translate(-50%, -50%);
  padding: 0 8px;
  background-color: white;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.sidebar h1 {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  background-color: #428BCA;
  top: 6%;
  position: relative;
  width: calc(100% + 40px); 
  height: 35px;
  display: fixed;
  align-items: center;
  padding: 10px;
  gap: 20px;
  font-family: Arial, sans-serif;
  left: -20px;
}

.fa-chevron-up {
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  position: relative;
  top: 10%;
  overflow: auto;
  align-items: stretch;
  
}

.btn-group-vertical .btn {
  flex-grow: 0;
  width: 80%;
}

.btn-group-vertical .btn {
  margin-bottom: 5px;
  background-color: #e7e7e7;
  color: rgb(0, 0, 0);
  border: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group-vertical .btn:hover {
  background-color: #DAF0FF;
}

.btn-group {
  position: static;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 50vh;  
  overflow-y: auto;
}

.acordeon-button {
  background-color: #d9d9d9;
  color: rgb(4, 4, 4);
  border: none;
  padding: 5px;
  width: 100%;
  text-align: left;
  border-radius: 8px;;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 8px;
}

.acordeon-button:hover {
  background-color: #59a3ec;
  color: white;
}

.acordeon-contenido {
  background-color: #f1f8ff;
  padding: 10px 20px;
  border-left: 3px solid #1976d2;
  margin-bottom: 10px;
  border-radius: 0 0 8px 8px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.acordeon-contenido a {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: #1976d2;
  text-decoration: none;
  padding: 5px 0;
  font-weight: 500;
}

.acordeon-contenido a:hover {
  text-decoration: none;
  background-color: #d9d9d9;
  color: white;
  border-radius: 5px;
}
.boton-simple {
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: none;
  padding: 5px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.boton-simple:hover {
  background-color: #59a3ec;
  color: white;
}

.extra-btn {
  width: 100%;
  text-align: left;
  background: #f0f0f0;
  border: none;
  padding: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.dropdown-menu li a {
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.barraReducida {
  position: fixed;
  display: flex;
  height: 100%;
  width: 30px;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  background-color: #428BCA;
  color: white;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.barraReducida:hover {
  background-color: #0056b3;
}

.sidebar.ng-enter,
.sidebar.ng-leave {
  transition: transform 0.3s ease;
}

.sidebar.ng-enter {
  transform: translateX(-100%);
}

.sidebar.ng-enter.ng-enter-active {
  transform: translateX(0);
}

.sidebar.ng-leave {
  transform: translateX(0);
}

.sidebar.ng-leave.ng-leave-active {
  transform: translateX(-100%);
}

.barraReducida h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  transform: rotate(270deg);
}

.icono {
  font-size: 10px;
  margin-left: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  transform: rotate(360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-chevron-up {
  cursor: pointer;
}

.barratitulo h3 img,
.barraRecargarpagina h3 img {
  max-width: 100%;
  height: auto;
}

.btn.btn-primary {
  margin-left: auto;
  display: block;
  white-space: nowrap;
}

#informacionUniversidad {
  position: fixed;
  display: flex;
  width: 16%;
  height: 8%;
  top: 92%;
  left: 0;
  background-color: #428BCA;
  font-size: 10px;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

#informacionUniversidad a {
  color: black;
  text-decoration: none;
}

#informacionUniversidad a:hover {
  color: rgb(248, 248, 248);
  text-decoration: none;
}

.btn-group ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 768px) and (max-height: 1000px) {
  .sidebar {
    transform: translateX(0);
    width: 10%;
    top: 0;
  }

  .barraReducida {
    position: fixed;
    top: 48px;
    left: 0;
    height: calc(100% - 48px);
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #428BCA;
    z-index: 999;
  }

  .barraReducida h3 {
    font-size: 9px;
    top: 400px;
  }

  .icono {
    font-size: 9px;
    top: 0;
  }

  .btn-group-vertical {
    top: 62%;
  }

  .InformacionPersonal {
    width: 100%;
    top: 12%;
  }
  .encabezado-panel {
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .icono-izq {
    position: absolute;
    left: 10px;
  }
  
  .icono-der {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .sidebar h1 {
    top: 13%;
    font-size: 9px;
    text-align: left;
  }
  .bordeTexto{
    font-size: 9px;
  }

  #informacionUniversidad {
    width: 80%;
  }
  .menu{
    top: 15%;
  }
  .acordeon-button {
    font-size: 9px;
  }
  
  .acordeon-button:hover {
    background-color: #59a3ec;
    color: white;
  }
  
  .acordeon-contenido {
    font-size: 9px;
  }

  .boton-simple {
   font-size: 9px;
  }

  
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}


@media screen and (max-width: 1180px) {
  #Largo {
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .sidebar h2 {
    display: block;
    width: 150px;
  }

  .sidebar h1 {
    display: block;
    width: 150px;
  }

  #informacionUniversidad {
    display: block;
    width: 150px;
  }

  #Largo {
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}