<div class="main-container" [ngClass]="{'with-sidebar': !isSidebarReduced, 'without-sidebar': isSidebarReduced}">
  <header class="main-header">
    <div class="header-convocatorias">
      <div class="header-left">
        <div class="icono-convocatoria">
          <i class="fas fa-bullhorn"></i>
        </div>
        <div>
          <div class="titulo-convocatorias">Convocatorias</div>
          <div class="subtitulo-convocatorias">General</div>
        </div>
      </div>
    
      <button class="cerrar-btn" (click)="Salir()">✕</button>
    </div>
    
  </header>

  <div class="filter-container">
    <button class="filter-button" (click)="toggleFiltro()">
      <i class="fas fa-filter"></i> Filtrar
    </button>
  
    <div class="filter-options" *ngIf="mostrarOpciones">
      <button (click)="seleccionarFiltro('activos')">Activos</button>
      <button (click)="seleccionarFiltro('todos')">Todos</button>
    </div>
  </div>
  

  <div *ngFor="let convocatoria of convocatoriasFiltradas" class="card">
    <div class="circle-container">
      <img src="https://udes.edu.co/images/micrositios/extension/proyeccion_social/cifras/proyectos.png" alt="Icono">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ convocatoria.titulo }}</h5>
      <p class="card-text">
        Desde: {{ formatearFecha(convocatoria.fechaInicio) }} - 
        Hasta: {{ formatearFecha(convocatoria.fechaFin) }} | 
        Estado:
        <span class="estado" [ngClass]="{'estado-activa': convocatoria.estado === 'Activa', 'estado-inactiva': convocatoria.estado === 'Inactiva' }">
          {{ convocatoria.estado }}
        </span>
      </p>
    </div>
    <div class="card-links">
      <a routerLink="/inscripcion-proyecto" routerLinkActive="router-link-active">Inscribir Proyecto</a>
      <a routerLink="/ver-convocatoria" (click)="verDetalle(convocatoria)">Ver más</a>
    </div>
  </div>
</div>
