.main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 16.2%;
    margin-top: 4%; 
    width: 82.9%;
    transition: margin-left 0.3s ease;
    border: 1px solid rgb(193, 193, 193);
  }
  .main-container.with-sidebar {
    margin-left: 16.2%;
  }
  
  .main-container.without-sidebar {
    margin-left: 2.7%;
    width: calc(100% - 3%);
    max-width: 100%;
  }
  .img{
    width: 25px;
  }
  
  .main-header {
    position: relative;
    background-color: #f7f5f5;
    color: #044BFF;
    padding: 7px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
  
  .close-btn {
    position: absolute;
    top: 2px; 
    right: 5px; 
    width: 20px; 
    height: 20px; 
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .aste {
    color: red;
    font-size: 10px;
    margin-left: 2px; 
  }
  
  .mb-3 {
    padding: 4px 5px; 
    margin-bottom: 0;
    font-size: 13px;
  }
  
  .mb-3 {
    margin-bottom: 0;
  }
  .form-control {
    margin-top: 0;
    border-radius: 0;
    height: 25px;
    padding: 2px 2px; 
    font-family: Arial, sans-serif;
    font-size:13px;
  }
  .select .lineas{
    font-size: 13px;
    padding: 10px;
  }
  .select {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 5px;
  }
  .form-select{
    font-size: 13px;
    padding: 5px;
    gap: 0px;
   }
  
   .col-form-label {
    font-size: 13px;
    margin-left: 0;
    padding: 0 5px; 
  }
  .labelintegrantes{
    background-color: #f7f5f5;
  }
  .integrand{
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding: 5px;
  }
  .fa-users{
    padding: 5px;
  }
  .me-2{
    width: 50%;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-left: 18%;
    margin-top: 10px;
  }
  .btn-outline-success{
    height: 25px;
    align-items: center;
    text-align: center;
    font-size:10px;
    background-color: rgb(246, 246, 247);
    color: #005A7E;
    border: none;
    font-family: Arial, sans-serif;
    margin-top: 8px;
  }
  .btn-primary{
    padding: 2px;
    font-size: 10px;
    width: auto;
    height:23px;
    margin-top: 10px;
  }
  .table-bordered {
    margin-left: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    max-height: 220px;  
    height: 80px;
    overflow: auto; 
    width: 89%;
    border: 1px solid #ddd; 
  }
  .Eliminar{
    font-size: 8px;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    padding: 4px;
    background-color: #f7f5f5;
    color: #005A7E;
    border: none;
    margin-top: 5px;
    text-align: center;
  }
  .Eliminar:hover{
    background-color: #005A7E;
    color: white;
  }