<div class="main-container" [ngClass]="{'with-sidebar': !isSidebarReduced, 'without-sidebar': isSidebarReduced}">
  <div class="main-container">
    <h1 class="titulo-grupos">GRUPOS DE EXTENSIÓN</h1>
    <hr class="titulo-linea" />
    <div class="grupos-container">
      <div class="grupo-card">
        <div class="grupo-icono">
          <span class="icono-carpeta">📁</span>
        </div>
        <div class="grupo-info">
          <div class="nombre-grupo">BIOTECNOLOGÍA Y CONTROL DE CALIDAD DE LOS ALIMENTOS BYCCA</div>
          <div class="detalle-grupo"><strong>Líder:</strong> PAOLA ANDREA GARCIA RINCON</div>
          <div class="detalle-grupo"><strong>Programa:</strong> Biología</div>
        </div>
      </div>
  
    </div>
      <div class="paginacion">
      <button>&laquo;</button>
      <span>Página 1 de 3</span>
      <button>&raquo;</button>
    </div>
  </div>
  
</div>